// app-header-component {
//     height: 20vh;
//     /*Or fixed pixel unit*/
//     background-color: green;
// }

// app-footer-component {
//     height: 20vh;
//     /*Or fixed pixel unit*/
//     background-color: black;
// }

section {
  // height: calc(56vh);
  /* - Height: calc(100vh - (navheight + footer))
        - Over flow y make the dive scrollable 
     when it exceed the fixed height*/
  overflow-y: auto;
    // transition: all 0.5s;
    height: calc(100vh - 226px);
    background-color: #f9f9f9;
}