.nav-tabs{bottom:50px; left:11px; position: relative; float: left; border: none;  
    background: #ebebeb; width: calc(100% - 22px)}
.nav-tabs .nav-link {border-radius: 0; border: none; color: #333;} 
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background-color: #ccc;}