<!-- <p>data-display-parent works!</p> -->

<!-- <app-tabular></app-tabular> -->
<router-outlet>
</router-outlet>
<div class="container-flued">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="tabularReport">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="chartReport">Chart</a></li>
        <li class="nav-item"><a class="nav-link"  href="#">Menu 2</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Menu 3</a></li> 
    </ul>
</div>

