<div class="tabular-wrap">
    <div class="container-flued">

        <div class="card p-0">
            <div class="card-header">Tabular<a href="" class="common-btn btn float-end "><i
                        class="bi bi-arrow-left"></i> Back</a></div>
            <div class="card-body">
                <ag-grid-angular style="width: 100%; height: 52.5vh;" class="ag-theme-alpine" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [autoGroupColumnDef]="autoGroupColumnDef" [sideBar]="true" [rowData]="rowData" (gridReady)="onGridReady($event)"></ag-grid-angular>
            </div>
        </div>
    </div>
</div>