<div *ngIf="loader">
    <app-mainloader></app-mainloader>
</div>
<div class="tabular-wrap">
    <div class="container-flued">
       
        <!-- <div class=" border-bottom mb-2">
           
        </div> -->
        <ng-container *ngIf="locationType != 0">
            <div class="d-flex justify-content-between border-bottom">
                <div>
                    <nav style="--bs-breadcrumb-divider: url(&quot;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&quot;);"
                        aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <ng-container *ngIf="locationType == 1 || locationType == 2 || locationType == 3">
                                <ng-container *ngIf="stateName == 'All India'">
                                    <li class="breadcrumb-item"><a href="#"> {{stateName}}</a></li>
                                </ng-container>
                                <ng-container *ngIf="stateName != 'All India'">
                                    <li class="breadcrumb-item"><a href="#"> State Name : {{stateName}}</a></li>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="locationType == 2 || locationType == 3">
                                <ng-container *ngIf="districtName =='All District'">
                                    <li class="breadcrumb-item" aria-current="page"> {{districtName}}</li>
                                </ng-container>
                                <ng-container *ngIf="districtName !='All District'">
                                    <li class="breadcrumb-item" aria-current="page">District Name : {{districtName}}
                                    </li>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="locationType == 3">
                                <ng-container *ngIf="blockName =='All Block'">
                                    <li class="breadcrumb-item" aria-current="page">{{blockName}}</li>
                                </ng-container>
                                <ng-container *ngIf="blockName !='All Block'">
                                    <li class="breadcrumb-item" aria-current="page">Block Name : {{blockName}}</li>
                                </ng-container>
                            </ng-container>
                        </ol>
                    </nav>
                </div>
                <div>
                    <nav style="--bs-breadcrumb-divider: url(&quot;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&quot;);"
                        aria-label="breadcrumb">

                        <ol class="breadcrumb">
                            <ng-container *ngIf="socialCatId != 9">
                                <li class="breadcrumb-item"><a href="#"> Category Name :{{socialCatId | socialCatgory
                                        }}</a>
                                </li>
                            </ng-container>
                            <ng-container *ngIf="managementTypeId == 1">
                                <li class="breadcrumb-item" aria-current="page">Management Name : {{managementId |
                                    broadmanagementName}}</li>
                            </ng-container>

                            <ng-container *ngIf="managementTypeId == 2">
                                <li class="breadcrumb-item" aria-current="page">Management Name : {{managementId |
                                    centerManagementName}}</li>
                            </ng-container>
                        </ol>

                    </nav>
                </div>
            </div>
        </ng-container>
        <div class="mt-2 d-flex justify-content-between align-items-center card-header">
                  
            <div>
                <span>Report Id : {{reportId}}</span><h6 class="mb-0 ">{{reportId | reportName}}</h6>
            </div>
            <div>
                <a href="" class="btn btn-border float-start back-btn "><i class="bi bi-arrow-left"></i> Back </a>

                <a href="" class=" float-start p-0 me-3 " style="color:#fff; font-size: 14px; font-weight: normal;" (click)="downloadExlReport()"><img
                    src="assets/images/download-excel.png" style="margin-right:6px; height: 24px;"></a>
                    <a href="" class=" float-start p-0 me-3" style="color:#fff; font-size: 14px; font-weight: normal;" (click)="downloadPdfReport()"><img
                        src="assets/images/download-excel.png" style="margin-right:6px;height: 24px; "></a>

                <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="filterCollapse()"
                    class="border side-menu float-end mb-1 rounded-3 p-1 text-decoration-none"><i
                        class="bi bi-list bi-lg py-2 p-1"></i> Report Filter</a>
            </div>
           
        </div>
        <div class="card p-0">
            <div class="container-fluid">
                <div class="row flex-nowrap">
                    <div class="card-body  p-0">
                        <ag-grid-angular class="ag-theme-alpine " style="width: 100%; height: 67.7vh;"
                            [autoGroupColumnDef]="autoGroupColumnDef" [columnDefs]="columnDefs"
                            [defaultColDef]="defaultColDef" [autoGroupColumnDef]="autoGroupColumnDef" [sideBar]=""
                            [rowData]="rowData" (gridReady)="onGridReady($event)" [icons]="icons"></ag-grid-angular>
                    </div>
                </div>
                <div id="sidebar" class="collapse collapse-horizontal border-end">
                    <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start">
                        <div class="mb-3">
                            <label for="state" class="form-label">Location Type Search </label>
                            <select class="form-select form-select-sm" id="sel1" name="sellist1"
                                (change)="getLocationType($event)">
                                <option value="0" selected>All India/National</option>
                                <option value="1">State Wise</option>
                                <option value="2">District Wise</option>
                                <option value="3">Block Wise</option>
                                <option value="4">Parliament Wise</option>
                                <option value="5">City Wise</option>
                            </select>
                        </div>
                        <app-search-master (reportJson)="getTabularData($event)" [locationType]="locationType"
                            #filterComp [abcd]="abc"></app-search-master>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>