
  <div class="row ">
    <div class="col-md-3">

        <div class="mb-3">
            <label for="year" class="form-label">Year :</label>
            <select class="form-select" id="sel1" name="sellist1">
                <option value="" selected disabled>Select Year</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
          </div>

      
        
    </div>

    <div class="col-md-3">
        <div class="mb-3">
            <label for="state" class="form-label">State :</label>
            <select class="form-select" id="sel1" name="sellist1">
                <option value="" selected disabled>Select State</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
          </div>
        
    </div>

    <div class="col-md-3">
        <div class="mb-3">
            <label for="district" class="form-label">District:</label>
            <select class="form-select" id="sel1" name="sellist1">
                <option value="" selected disabled>Select District</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
          </div>
        
    </div>

    <div class="col-md-3">
        <div class="mb-3">
            <label for="block" class="form-label">Block:</label>
            <select class="form-select" id="sel1" name="sellist1">
                <option value="" selected disabled>Select Block</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
          </div>
    </div>

  </div>