<div class="w-100 footer ">
  <div class="footer-top ps-3 pe-3">
      <div class="container-flued">
          <div class="row">
              <div class="col-6">
                  <div class="row">
                      <div class="col-4">
                          <ul>
                              <li><a href="#">Home</a></li>
                                <li><a href="#">Static Reports</a></li>
                                <li><a href="#">UDISE+ Reports</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                          <ul>
                              <li><a href="#">Ministry of Education</a></li>
                                <li><a href="#">School Education</a></li>
                                <li><a href="#">UDISE+ Website</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                          <ul>
                              <li><a href="#">Know Your School</a></li>
                                <li><a href="#">PGI Portal</a></li>
                                <li><a href="#">SDMIS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <div class="ftr-right">
                        <h4>Disclaimer</h4>
                        <p>The Reports are based on consolidation of data received from the States/UTs. Hence it cannot be used for any legal purpose.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
      <div class="container-flued">
          <p>This site is designed, developed, maintained and hosted by National Informatics Centre (NIC), Ministry of Electronics & Information Technology.<br>
This Website belongs to Department of School Education & Literacy, Ministry of Education, Government of India.</p>
        </div>
    </div>
</div>
<!--close footer-->
