<!-- <p>list-data works!</p> -->


<div class="container">
    <a routerLink="../displayData" class="common-btn btn float-end mt-3 mb-3">Report</a>
    <div class="card">
        <div class="card-header"><i class="bi bi-info-square me-2"></i>
            Frequently Used Report</div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                  </tr>
                </tbody>
              </table>
        </div>
        
      </div>

      
</div>