<!-- <p>list-data works!</p> -->
    <a routerLink="../displayData" class="common-btn btn float-end mt-3 mb-3" style="position:absolute;">Report</a>


    <div id="content">
      <div class="w-100 d-flex summary-section">
        <div class="container d-flex justify-content-center flex-wrap">
          <div class="summary-box">
          	<div class="summary-icon"><img src="assets/images/school.svg" alt="" /></div>
            <div class="summary-text"><h4>1489115</h4><h6>Total Schools</h6><a class="arrow-link" href="#"><img src="assets/images/arrow.svg" alt="" /></a></div>
          </div>
          
          <div class="summary-box">
          	<div class="summary-icon"><img src="assets/images/teacher.svg" alt="" /></div>
            <div class="summary-text"><h4>9507123</h4><h6>Total Teachers</h6><a class="arrow-link" href="#"><img src="assets/images/arrow.svg" alt="" /></a></div>
          </div>
          
          <div class="summary-box">
          	<div class="summary-icon"><img src="assets/images/student.svg" alt="" /></div>
            <div class="summary-text"><h4>265235830</h4><h6>Total Students</h6><a class="arrow-link" href="#"><img src="assets/images/arrow.svg" alt="" /></a></div>
          </div>
        </div>
      </div>
      <!--close section-->
      
      <div class="common-row used-report">
      <div class="w-100 d-flex report-heading-section">
        <div class="container d-flex justify-content-center flex-wrap">
          <h2 class="section-title">Frequently Used Report</h2>
        </div>
      </div>
      <!--close heading-section section-->
      
      <div class="w-100 d-flex report-table-section">
        <div class="container">
          <div class="table-responsive report-table">
          <table class="w-100 " cellpadding="0" cellspacing="0">
          	<thead>
            	<tr>
                	<th>S. No</th>
                    <th>ID</th>
                    <th>Report Name</th>
                    <th>Tag</th>
                    <th>Graph /Table</th>
                </tr>
            </thead>
            
            <tbody>
            	<tr>
                	<td>01</td>
                    <td><span class="id-purple">1003</span></td>
                    <td>Number of Schools by School Management and School Category</td>
                    <td><span class="tag-purple">School</span></td>
                    <td><a href="#" class="view-report"><img src="assets/images/eye.svg" alt="" /> View Report</a></td>
                </tr>
                <tr>
                	<td>02</td>
                    <td><span class="id-blue">2002</span></td>
                    <td>Number of Teachers by School Management and Classes Taught</td>
                    <td><span class="tag-blue">Teacher</span></td>
                    <td><a href="#" class="view-report"><img src="assets/images/eye.svg" alt="" /> View Report</a></td>
                </tr>
                <tr>
                	<td>03</td>
                    <td><span class="id-purple">3013</span></td>
                    <td>Number of Schools by Availability of Infrastructure and Facilities, School Management and School Category</td>
                    <td><span class="tag-purple">School</span></td>
                    <td><a href="#" class="view-report"><img src="assets/images/eye.svg" alt="" /> View Report</a></td>
                </tr>
                <tr>
                	<td>04</td>
                    <td><span class="id-purple">4002</span></td>
                    <td>Enrolment by Location, School Type, School Category and School Management for Each Class & Level of Education</td>
                    <td><span class="tag-purple">School</span></td>
                    <td><a href="#" class="view-report"><img src="assets/images/eye.svg" alt="" /> View Report</a></td>
                </tr>
                <tr>
                	<td>05</td>
                    <td><span class="id-yellow">4004</span></td>
                    <td>Enrolment by Social Category</td>
                    <td><span class="tag-yellow">Enrolment</span></td>
                    <td><a href="#" class="view-report"><img src="assets/images/eye.svg" alt="" /> View Report</a></td>
                </tr>
                <tr>
                	<td>06</td>
                    <td><span class="id-green">5001</span></td>
                    <td>Projected Population of India by Gender, Age-group and Social Category, 2011 – 2021</td>
                    <td><span class="tag-green">Population, Frequently</span></td>
                    <td><a href="#" class="view-report"><img src="assets/images/eye.svg" alt="" /> View Report</a></td>
                </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
      <!--close table-section-->
    </div>   <!--close common-row-->


    <div class="common-row school-report">
      <div class="w-100 d-flex report-heading-section">
        <div class="container d-flex justify-content-center flex-wrap">
          <h2 class="section-title">Schools</h2>
        </div>
      </div>
      <!--close heading-section section-->
      
      <div class="w-100 d-flex report-table-section">
        <div class="container">
          <div class="table-responsive report-table">
          <table class="w-100 " cellpadding="0" cellspacing="0">
          	<thead>
            	<tr>
                	<th>S. No</th>
                    <th>ID</th>
                    <th>Report Name</th>
                    <th>Tag</th>
                    <th>Graph /Table</th>
                </tr>
            </thead>
            
            <tbody>
            	<tr>
                	<td>01</td>
                    <td><span class="id-purple">1003</span></td>
                    <td>Number of Schools by School Management and School Category</td>
                    <td><span class="tag-purple">School</span></td>
                    <td><a href="#" class="view-report"><img src="assets/images/eye.svg" alt="" /> View Report</a></td>
                </tr>
                <tr>
                	<td>02</td>
                    <td><span class="id-blue">2002</span></td>
                    <td>Number of Teachers by School Management and Classes Taught</td>
                    <td><span class="tag-blue">Teacher</span></td>
                    <td><a href="#" class="view-report"><img src="assets/images/eye.svg" alt="" /> View Report</a></td>
                </tr>
                <tr>
                	<td>03</td>
                    <td><span class="id-purple">3013</span></td>
                    <td>Number of Schools by Availability of Infrastructure and Facilities, School Management and School Category</td>
                    <td><span class="tag-purple">School</span></td>
                    <td><a href="#" class="view-report"><img src="assets/images/eye.svg" alt="" /> View Report</a></td>
                </tr>
                <tr>
                	<td>04</td>
                    <td><span class="id-purple">4002</span></td>
                    <td>Enrolment by Location, School Type, School Category and School Management for Each Class & Level of Education</td>
                    <td><span class="tag-purple">School</span></td>
                    <td><a href="#" class="view-report"><img src="assets/images/eye.svg" alt="" /> View Report</a></td>
                </tr>
                <tr>
                	<td>05</td>
                    <td><span class="id-yellow">4004</span></td>
                    <td>Enrolment by Social Category</td>
                    <td><span class="tag-yellow">Enrolment</span></td>
                    <td><a href="#" class="view-report"><img src="assets/images/eye.svg" alt="" /> View Report</a></td>
                </tr>
                <tr>
                	<td>06</td>
                    <td><span class="id-green">5001</span></td>
                    <td>Projected Population of India by Gender, Age-group and Social Category, 2011 – 2021</td>
                    <td><span class="tag-green">Population, Frequently</span></td>
                    <td><a href="#" class="view-report"><img src="assets/images/eye.svg" alt="" /> View Report</a></td>
                </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
      <!--close table-section-->
    </div>   <!--close common-row school-report-->


    

    </div>
    <!--close content-->

