<div class="tabular-wrap">
  <div class="container-flued">
      <div class="card p-0">
          <div class="card-header">Chart<a href="" class="common-btn btn float-end "><i class="bi bi-arrow-left"></i>
                  Back</a></div>
          <div class="card-body text-center">
            <!-- <ngx-charts-bubble-chart [results]="data"></ngx-charts-bubble-chart> -->
            
            <!-- <ngx-charts-area-chart [results]="data"></ngx-charts-area-chart> -->
              <!-- <div id="container">
                <highcharts-chart
                [Highcharts]="highcharts1"
                [options]="chartOptions1"
                style="width:30%; height: 100%; display: block; margin:auto">
              </highcharts-chart>
              </div> -->
              <div id="container"></div>
              <div id="container"></div>
          </div>
          
      </div>
  </div>
</div>
