<div class="header-top ">
    <div class="container-flued d-flex align-items-center justify-content-between">
        <div class="time">Feb 28 2023 | 05:53 PM</div>
        <ul class="list-unstyled d-flex align-items-center mb-0">
            <li class="d-none d-lg-block">
                <a>Skip To Navigation</a>
            </li>
            <li class="d-none d-lg-block">|</li>
            <li class="d-none d-lg-block">
                <a>Skip To Main Content</a>
            </li>
            <li class="d-none d-lg-block">|</li>
            <li class="d-none d-lg-block">
                <a>A</a>
                <a>A+</a>
                <a>A++</a>
            </li>
            <li class="d-none d-lg-block">|</li>
            <li>
                <a class="theme light">L</a>
                <a class="theme dark">D</a>
            </li>
            <li>
                <div class="d-flex align-items-center">
                    <select>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="mid-header pt-3 pb-2">
    <div class="container-flued d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="#"><img class="img-fluid logo" src="assets/images/se-logo.png"></a>
        <a href="#"><img class="img-fluid logo" src="assets/images/udise-reports.png"></a>
    </div>
</div>

<nav class="navbar navbar-expand-lg mt-2">
    <div class="container-flued">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"><i class="bi bi-house-door-fill me-2"></i>Home</a>
                </li>
              
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Static Reports
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">UDISE+ Report 2021-22</a></li>
                        <li><a class="dropdown-item" href="#">UDISE+ Report 2020-21</a></li>
                        <li><a class="dropdown-item" href="#">UDISE+ Report 2019-20</a></li>
                        <li><a class="dropdown-item" href="#">UDISE+ Report 2018-19</a></li>
                    </ul>
                </li>
              
            </ul>

        </div>
    </div>
</nav>

<!-- Ali -->